html, body {
  height: 100%;
}

.select2-container {
  margin-bottom: 0.75rem;
}

.select2 {
  width: 100% !important;
}

label {
  width: 100% !important;
}

.base-image {
  width: 100%;
}

.input-group {
  margin-left: 2rem;
}

.swal-text {
  text-align: center;
}

.empty-order {
  margin-top: 8rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
  display: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.single-product {
  font-size: 1rem;
}

.swiper-slide {
  background-color: antiquewhite;
}
