body
{
    margin:auto;
    padding: 0px;
    background: #428BCA;
    background-size: cover;
    font-family: sans-serif;
}

.container
{
    position: absolute;
    width: 500px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -150px;
}